// COLOR VARIABLES
$color-1: #FF5C19;
$color-2: #FF5C19 ;
$color-3: #FFA326; 
$color-4: black;
$color-5: #E8A617 ;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

body{
    margin: 0;
}