.header{
    background-color: $color-1 ;
    height: 60px;

    .title{

        color: white;
        font-weight: 700;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 18px;
    }

  }